@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	.animate-fade-in {
		animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.animate-pop {
		animation: popIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	80% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}